## Data Acquisition

In [1]:
import pandas as pd
data = pd.read_csv('Ranking.csv')

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Generated     38 non-null     int64
 1   Recycling     38 non-null     int64
 2   Incineration  38 non-null     int64
 3   Score         38 non-null     float64
dtypes: float64(1), int64(3)
memory usage: 1.3 KB

In [7]:
print("Data Head:")
data.head()

Data Head:

   Generated  Recycling  Incineration  Score
0        559        150           152   72.9
1        588        154           226   74.2
2        416        147           179   83.1
3        706        183            34   53.3
4        437          2             1   23.3

In [6]:
print("Data Tail:")
data.tail()

Data Tail:

    Generated  Recycling  Incineration  Score
33        431         87           259   84.8
34        706        210           333   89.3
35        424         47             0    0.0
36        463        126           190   73.4
37        811        190            95   60.2

# Predictor Variables: (Genearted Recycling, Incineration, and Score)
# Target Variable: Score

## Data Exploration